Repository mapping-commons/sssom, pull requests merged in 2024-08, with the labels that each got.

#379 Reformat some docs pages to render correctly
  src/docs/create-mapping-commons.md
  src/docs/related-documentation.md
Labels: documentation

#370 Move predicate_label examples to predicate_id in sssom_schema.yaml
  src/sssom_schema/schema/sssom_schema.yaml
Labels: documentation

#375 Add support for extension slots
  CHANGELOG.md
  examples/schema/extension-slots.sssom.tsv
  project/excel/sssom_schema.xlsx
  project/graphql/sssom_schema.graphql
  project/jsonld/sssom_schema.context.jsonld
  project/jsonld/sssom_schema.jsonld
  project/jsonschema/sssom_schema.schema.json
  project/prefixmap/sssom_schema.yaml
  project/protobuf/sssom_schema.proto
  project/shacl/sssom_schema.shacl.ttl
  project/shex/sssom_schema.shex
  project/sqlschema/sssom_schema.sql
  src/docs/spec-formats-tsv.md
  src/docs/spec-intro.md
  src/docs/spec-model.md
  src/sssom_schema/context/sssom_schema.context.jsonld
  src/sssom_schema/context/sssom_schema.jsonld
  src/sssom_schema/datamodel/sssom_schema.py
  src/sssom_schema/schema/sssom_schema.yaml
Labels: enhancement, schema

#383 Provisionally removes previously added literal profile from SSSOM
  src/sssom_schema/schema/sssom_schema.yaml
Labels: schema

#376 Add `curie_map` to the model
  CHANGELOG.md
  examples/schema/curie_map.sssom.tsv
  project/excel/sssom_schema.xlsx
  project/graphql/sssom_schema.graphql
  project/jsonld/sssom_schema.context.jsonld
  project/jsonld/sssom_schema.jsonld
  project/jsonschema/sssom_schema.schema.json
  project/prefixmap/sssom_schema.yaml
  project/protobuf/sssom_schema.proto
  project/shacl/sssom_schema.shacl.ttl
  project/shex/sssom_schema.shex
  project/sqlschema/sssom_schema.sql
  src/docs/spec-formats-tsv.md
  src/docs/spec-model.md
  src/sssom_schema/context/sssom_schema.context.jsonld
  src/sssom_schema/context/sssom_schema.jsonld
  src/sssom_schema/datamodel/sssom_schema.py
  src/sssom_schema/schema/sssom_schema.yaml
Labels: schema

#384 Add new "literal profile" solution based on "subject_label" and "object_label"
  CHANGELOG.md
  examples/schema/literals.sssom.tsv
  mkdocs.yml
  src/docs/spec-model.md
  src/docs/sssom-profiles.md
  src/sssom_schema/schema/sssom_schema.yaml
Labels: schema
